<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="lesson3_w3"/>

    <bean id ="fileDao" class="lesson3_w3.dao.FileDao"/>
    <bean id ="storageDao" class="lesson3_w3.dao.StorageDao"/>

    <bean id ="fileService" class="lesson3_w3.service.FileService">
        <constructor-arg ref="fileDao"/>
    </bean>

    <bean id ="storageService" class="lesson3_w3.service.StorageService">
        <constructor-arg ref="storageDao"/>
    </bean>

    <!--<bean id="storage_1" class="lesson3_HW.beans.Storage">-->
        <!--<constructor-arg name="formatsSupported" value="doc"/>-->
        <!--<constructor-arg name="storageCountry" value="UKr"/>-->
        <!--<constructor-arg name="storageSize" value="340"/>-->
    <!--</bean>-->

    <!--<bean id="storageDaoImpl" class="lesson3_HW.dao.StorageDaoImpl"/>-->
    <!--<bean id="fileDaoImpl" class="lesson3_HW.dao.FileDaoImpl"/>-->

    <!--<bean id="storageService" class="lesson3_HW.service.StorageService">-->
        <!--<constructor-arg ref="storageDaoImpl"/>-->
    <!--</bean>-->
    <!--<bean id="fileService" class="lesson3_HW.service.FileService">-->
        <!--<constructor-arg ref="fileDaoImpl"/>-->
    <!--</bean>-->

    <!--<bean id="storageController" class="lesson3_HW.controller.StorageController">-->
        <!--<constructor-arg ref="storageService"/>-->
    <!--</bean>-->
    <!--<bean id="fileController" class="lesson3_HW.controller.FileController">-->
        <!--<constructor-arg ref="fileService"/>-->
    <!--</bean>-->



</beans>
